:root{
    --white-color: #fff;
    --black-color: #140a00;
    --grey-dark-color: #363636;
    --grey-light-color: #e0e0e0;
}
.App{
    width:550px;
    height: 800px;
    background-color: aqua;
}
.logo{
    background-color: aqua;
    width: 550px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'NanumGothicBold';
}
.listTitle{
    width: 550px;
    height: 25px;
    background-color: gold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    width: 550px;
    height: 25px;
    background-color: gold;
    border-top: 1px solid var(--grey-dark-color);;
}


button{
    position: fixed;
    top: 800px;
    left: 250px;
}
.map{
    z-index: 1;
}
.goNext{
    display: flex;
    background-color: gainsboro;
    width: 550px;
    font-size: 20px;
    border-radius: 5px;
}
.goMap{
    color: white;
    width: 275px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goMap:hover{
    background-color:gray;
}
.goSchedule{
    color: white;
    width: 275px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goSchedule:hover{
    background-color:gray;
}
